<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <serversetting>
    <!-- 自定义内容 -->
    <!--可执行文件名，必填项-->
    <add key="ExeFileName" value=""/>
    <!--在Exe可执行文件中的启动类全名，注意：包含命名空间-->
    <add key="InExeStartupFullName" value=""/>
    <!-- 自定义内容结束 -->
    <add key="HttpServerPort" value="2324" />
    <add key="HttpsServerPort" value="0" />
    <add key="TcpServerPort" value="2323" />
    <add key="EnableStackView" value="True" />
    <add key="SessionTimeOut" value="1800" />
    <add key="NetworkTimeOut" value="30" />
    <add key="StartupForm" value="" />
    <add key="StartupAssembly" value="" />
    <add key="DeveloperTrace" value="Single" />
    <add key="TracePrint" value="True" />
    <add key="ClientTrace" value="False" />
    <add key="SysTrace" value="False" />
    <add key="PurgingTimeSpan" value="70" />
    <add key="PerformTimeSpan" value="0" />
    <add key="MirrorPatternMaxVerifyTimes" value="3" />
    <add key="FormStackMaxCount" value="10" />
    <add key="SecurityKey" value="" />
    <add key="RelativeScreen" value="True" />
    <add key="TextFontScaling" value="True" />
    <add key="ResourceDenyLocation" value="" />
    <add key="BaiduMapApi" value="" />
    <add key="WebScreenWidth" value="0" />
  </serversetting>
  <resources>
    <res name="image" path="Resources\Image" />
    <res name="audio" path="Resources\Audio" />
    <res name="document" path="Resources\Document" />
    <res name="upload" path="Resources\Upload" />
    <res name="media" path="Resources\Media" />
    <res name="web" path="Resources\Web" />
  </resources>
</configuration>